
    <div class="card">
        <div class="card-body">
            <h4>Antipattern ID: {{antipattern.dataValues.ID}}</h4>
            <h4>Sugestion Teacher: {{antipattern.dataValues.Sugestion_Teacher}}</h4>
        </div>
    </div>
{{>Antipattern_Event/view events=eventos}}
