<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{!-- bootstrap --}}
        <base href="/">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <script src="/js/jquery.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.js"></script>
        {{!-- bootstrap --}}
        
        <link rel="stylesheet" href="/css/Basic.css">
        <link rel="stylesheet" href="/css/codenum.css">
        
        <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/styles/default.min.css">
        <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
    <script>hljs.initHighlightingOnLoad();hljs.initLineNumbersOnLoad();</script>
</html>