{{>navbar}}
<div class="container row" style="height: 100vh;">
    <img class="col-6" src="/images/pato404.webp">
    <div class="col-6 d-flex justify-content-cente flex-wrap">
        <div class="col-12 text-justify-center">
            <span style="font-size: 130px;">4</span>
            <span style="color: yellow;font-size: 130px;">0</span>
            <span style="font-size: 130px;">4</span>
        </div>
        <div class="col-6">
            <span style="font-size: 60px;">Página não Encontrada</span>
        </div>
    </div>
        
    
</div>