<div class="d-flex" style="width: 100vw;">
    
    <div>
        <img style="width: 32.4vw;" src="/images/pato404.webp">
    </div>

    <div style="text-align: center;" class="mt-5">
        <div class="ml-5 my-4">
            <span style="font-size: 10vw;">4</span>
            <span style="color: yellow;font-size: 10vw;">0</span>
            <span style="font-size: 10vw;">4</span>
        </div>
        <div class="ml-5 my-4">
            <span style="font-size: 5vw;">Página não Encontrada</span>
        </div>
    </div>
        
    
</div>