<link href="/css/user/login.css" rel="stylesheet">
{{#if error}}
  <div class="alert alert-danger">{{error}}</div>
{{/if}}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first mx-auto w-25 my-2">
      <img src="images/file-person.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/user/login" method="POST">
      <h3>Entrar</h3>
      <input type="text" id="login" class="fadeIn second form-control" name="login" placeholder="Email">
      <input type="password" id="password" class="form-control mx-auto text-center" style="width: 85%;" name="password" placeholder="Senha">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Esqueceu sua senha?</a>
    </div>

  </div>
</div>
