<link href="/css/user/login.css" rel="stylesheet">
<div class="wrapper fadeInDown">
    <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
        <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>

    <!-- register Form -->
        <form action="/user/register" method="POST">
            <input type="text" id="FirstName" class="fadeIn second" name="FirstName" placeholder="FirstName">
            <input type="text" id="LastName" class="fadeIn second" name="LastName" placeholder="LastName">
            <input type="text" id="InstitutionName" class="fadeIn second" name="InstitutionName" placeholder="InstitutionName">
            <input type="text" id="Semester" class="fadeIn second" name="Semester" placeholder="Semester">
            <input type="text" id="Year" class="fadeIn second" name="Year" placeholder="Year">
            <input type="text" id="Email" class="fadeIn second" name="Email" placeholder="Email">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Registrar">
        </form>
    </div>
</div>
