<link href="/css/user/login.css" rel="stylesheet">
<div class="wrapper fadeInDown">
    <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
        <div class="fadeIn first mx-auto w-25 my-2">
            <img src="images/file-person.svg" id="icon" alt="User Icon" />
        </div>

    <!-- register Form -->
        <form class="form" action="/user/register" method="POST">
            <h3>Registrar</h3>
            <input type="text" id="FirstName" class="fadeIn second form-control" name="FirstName" placeholder="Nome">
            <input type="text" id="LastName" class="fadeIn second form-control" name="LastName" placeholder="Sobrenome">
            <input type="text" id="InstitutionName" class="fadeIn second form-control" name="InstitutionName" placeholder="Nome da instituição">
            <input type="text" id="Semester" class="fadeIn second form-control" name="Semester" placeholder="Semestre">
            <input type="text" id="Year" class="fadeIn second form-control" name="Year" placeholder="Ano">
            <input type="text" id="Email" class="fadeIn second form-control" name="Email" placeholder="Email">
            <input type="password" id="password" class="fadeIn second form-control mx-auto text-center" style="width: 85%;" name="password" placeholder="Senha">
            <input type="submit" class="fadeIn fourth" value="Registrar">
        </form>
    </div>
</div>
