{{>navbar}} {{!-- Barra de navegacao do site --}}

<div class="container mt-4 pb-4" style="background-color: var(--Background-color);">
    
    <h3 class="text-center font-weight-bold pt-5 mb-5" >Cadastro de Exercício de Evento</h3>

    <form method="POST" action="/antipattern/cadevent">
        <div class="form-group row justify-content-center align-items-center">
            <label for="titulo" class="col-form-label col-sm-3 col-md-2 col-lg-2 font-weight-bold">Título:</label>
            <div class="col-sm-7 col-md-8 col-lg-7">
            <input type="text" class="form-control" id="titulo" name="titulo">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                {{!-- Apenas uma coluna para ocupar espaço --}}
            </div>
        </div>

        <div class="form-group row justify-content-center align-items-center">
            <label for="conteudos" class="col-form-label col-sm-3 col-md-2 col-lg-2 font-weight-bold">Conteudos relacionados:</label>
            <div class="col-sm-7 col-md-8 col-lg-7" onchange="atualizar()">
                {{!-- nao precisa de name pois nao sera enviado --}}
                <select id="adicionar" class="js-example-basic-single" style="width: 100%;">
                    <option value="0">Selecione os conteudos</option>
                    <option value="1">Variável</option>
                    <option value="2">Conversão de Tipo de Dado</option>
                    <option value="3">Função de Entrada de Dados</option>
                    <option value="4">Função de Saída de dados</option>
                    <option value="5">Estrutura de Seleção</option>
                </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                {{!-- Apenas uma coluna para ocupar espaço --}}
            </div>
        </div>

        <div class="form-check" id="check_conteudos">
            <input class="form-check-input" type="checkbox" value="1" id="1" name="check">
            <label class="form-check-label" for="1">
                Variável
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="2" id="2" name="check">
            <label class="form-check-label" for="2">
                Conversão de Tipo de Dado
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="3" id="3" name="check">
            <label class="form-check-label" for="3">
                Função de Entrada de Dados
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="4" id="4" name="check">
            <label class="form-check-label" for="4">
                Função de Saída de dados
            </label>
            <br>
            <input class="form-check-input" type="checkbox" value="5" id="5" name="check">
            <label class="form-check-label" for="5">
                Estrutura de Seleção
            </label>
        </div>

        <div id="conteudos" class="container border rounded w-75">
            <div id="elementos" class="p-4">
                {{!--                 
                <span class="badge badge-pill badge-info m-1">Variavel 
                    <a href="#" class="badge badge-light pb-1 pr-1" style="cursor: pointer;">x</a>
                </span>

                <span class="badge badge-pill badge-info m-1">Variavel 
                    <a href="#" class="badge badge-light pb-1 pr-1" style="cursor: pointer;">x</a>
                </span>

                <span class="badge badge-pill badge-info m-1">Variavel 
                    <a href="#" class="badge badge-light pb-1 pr-1" style="cursor: pointer;">x</a>
                </span> --}}
            </div>
        </div>

        {{!-- Textarea --}}
        <div class="form-group row justify-content-center align-items-center">
            <label for="descricao" class="col-12 text-center font-weight-bold">Descricao</label>
            
            <div class="col-sm-7 col-md-8 col-lg-7">
                <textarea class="form-control" id="descricao" rows="3" name="descricao"></textarea>
            </div>
            
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>

<script>
    //lista para verificar se um conteudo selecionado ja esta na lista
    var lista_verif = []

    function remover_conteudo(event){
        let conteudo = event.target
        conteudo = conteudo.parentNode
        console.log(conteudo.id)
        //removendo o elemento da lista de verificacao para poder ser inserido denovo se necessario
        var index = lista_verif.indexOf(conteudo.id)
        //verificando se o elemento realmente existe
        if(index > -1){
            lista_verif.splice(index, 1)
        }

        //desativando a checkbox correspondente
        var checkbox = document.getElementById(conteudo.id + '')
        checkbox.checked = false

        //removendo a partir do pai
        conteudo.parentNode.removeChild(conteudo)

    }

    function atualizar(event){

        console.log('teste')
        var select = document.getElementById('adicionar')

        var value = select.options[select.selectedIndex].value;
        var text = select.options[select.selectedIndex].text; 
        text += ' '

        //ignorar a opcao "selecione um conteudo"
        if(value == 0)
            return
        //ignorar caso ja esteja na lista
        for(let i of lista_verif){
            if(i == value)
                return
        }

        lista_verif.push(value)

        console.log(text)

        //ativando a checkbox correspondente
        var checkbox = document.getElementById(value + '')
        checkbox.checked = true


        //document.getElementById('conteudos').classList.remove('d-none')

        let span = document.createElement('span')
        span.classList.add('badge')
        span.classList.add('badge-pill')
        span.classList.add('badge-info')
        span.classList.add('m-1')

        span.innerText = text
        span.id = value

        let span2 = document.createElement('span')
        span2.classList.add('badge')
        span2.classList.add('badge-light')
        span2.classList.add('pb-1')
        span2.classList.add('pr-1')
        span2.style = 'cursor: pointer'

        span2.innerText = 'x'

        span2.addEventListener('click', remover_conteudo)

        span.appendChild(span2)

        var elementos = document.getElementById('elementos')

        elementos.appendChild(span)

    }

    $(document).ready(function() {
    $('.js-example-basic-single').select2();
    });
    
</script>