{{>navbar}}

<div class="container mt-4">
    {{#each event_exercises}}
    
        <h2 class="text-center" > {{dataValues.Tittle}} </h2>
        <div class="row mx-md-n5 my-3">
            <div class="col px-md-5 "><div class="p-3 text-center" ><strong>ID:</strong> {{dataValues.ID}} </div></div>
            <div class="col px-md-5 "><div class="p-3 text-center" ><strong>Postado por: </strong>  </div></div>
        </div>
        <h4 class="text-center mb-4" >Enunciado</h4>
        <p> {{dataValues.Description}} </p>

        <div class="card w-25">
            <div class="card-body">
                <h5 class="card-title">Legenda</h5>
                <h6 class="card-subtitle text-center text-white w-50 mx-auto rounded" style="background-color: var(--contrast-color);">(Numero)</h6>
            </div>
            <div class="card w-75 mx-auto mb-4">
                <h6 class=""></h6>
            </div>
        </div>
        {{else}}
    {{/each}}

</div>