<div class="container mt-4">
    <form action="/Code/add" id="Cadformulario" method='post'>
        <div class="form-row p-4">
            <label for="exampleFormControlSelect1">Select Language</label>
            <select name="language" class="form-control" id="exampleFormControlSelect1">
            {{#each languages}}
                <option>{{OpName}}</option>
            {{/each}}
            </select>
        </div>
        <div class="form-row p-4">
            <label for="exampleFormControlTextarea1">Code</label>
            <textarea name="code" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-row justify-content-around p-4">
            <input onclick="document.querySelector('#Cadformulario').action = '/Code/addfile';document.querySelector('#Cadformulario').setAttribute('encType','multipart/form-data')" type="file" name="img" class="col-6"> 
            {{#if PaginaPai}}
                <input type="text" class="d-none" name="paginaPai" value="{{PaginaPai}}">
            {{/if}}
            <button type="submit" class="btn btn-primary col-6">Enviar</button>
        </div>
        
    </form>
</div>