<div class="container" style="background-color: var(--Background-color);" id="EventAdd" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <script src="/js/eventCad.js" defer></script>
    {{!-- class="d-none row" --}}
    <div class="modal fade" id="ModalAdd">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add code</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group my-3">
                                <label for="linguagem">Select Language</label>
                                <select name="language" class="form-control" id="linguagem">
                                {{#each languages}}
                                    <option>{{OpName}}</option>
                                {{/each}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Code">Code</label>
                                <textarea name="code" class="form-control" id="Code" rows="3"></textarea>
                                {{!-- Erro to File
                                <input id="inputfile" type="file"> --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="saveBtn()" class="btn " data-dismiss="modal" style="background-color: var(--accept-color);border-color: var(--accept-color);color: #ffff">SAVE</button>
                    <button onclick="cancelBtn()" class="btn" data-dismiss="modal" style="background-color: var(--reject-color);border-color: var(--reject-color);color: #ffff;">CANCELAR</button>
                </div>
            </div>
        </div>
    </div>
    

    {{!-- User ID --}}
    <div class="row my-4 border rounded justify-content-center" style="z-index: 2;">
        <form>
            <div class="col-md-12 ">
                <div class="col-md-12 my-2 row">
                    <label for="UserId"><strong>User ID</strong></label>
                </div>
                <div class="col-6 my-3">
                    <input type="number" id="UserId" style="width: 100%;">    
                </div>
            </div>
            {{!-- Total Envios --}}
            <div class="col-md-12 ">
                <div class="col-md-12 my-2 row">
                    <label for="TotalEnvios"><strong>Total Envios</strong></label>
                </div>
                <div class="col-6 my-3">
                    <input type="number" id="TotalEnvios" style="width: 100%;">    
                </div>
            </div>
            {{!-- ID Exercício --}}
            <div class="col-md-12 ">
                <div class="col-md-12 my-2 row">
                    <label for="IDExercicio"><strong>ID Exercício</strong></label>
                </div>
                <div class="col-6 my-3">
                    <input type="number" id="IDExercicio" style="width: 100%;">    
                </div>
            </div>
            {{!-- Observação do evento --}}
            <div class="col-md-12 ">
                <div class="col-md-12 my-2 row">
                    <label for="Obevent"><strong>Observação do evento</strong></label>
                </div>
                <div class="col-12 my-3">
                    <textarea id="Obevent" style="width: 100%;"></textarea>
                </div>
            </div>
            {{!-- Observação do código com erro --}}
            <div class="col-md-12 ">

            </div>
            <div class="row col-md-12">
                {{!-- Código do problema --}}
                <div class="col-md-6 ">
                    <div class="col-md-12 row justify-content-center">
                        <label for="ProbCode"><strong>Código do problema</strong></label>
                    </div>
                    <div class="col-12 my-3">
                        <textarea id="ProbCode" style="width: 100%;"></textarea>
                    </div>
                    <div class="col-md-12 my-2 row">
                        <label for="ObCodeErr"><strong>Observação do código com erro</strong></label>
                    </div>
                    <div class="col-12 my-3">
                        <textarea id="ObCodeErr" style="width: 100%;"></textarea>
                    </div>
                    <div class="col-md-12 my-2 row">
                        <label for="CodeErrWhen"><strong>Quando o erro ocorreu?</strong></label>
                    </div>
                    <div class="col-12 my-3">
                        <textarea id="CodeErrWhen" style="width: 100%;"></textarea>
                    </div>
                </div>
                {{!-- Código da solução --}}
                <div class="col-md-6 ">
                    <div class="col-md-12 row justify-content-center">
                        <label for="SolCode"><strong>Código da solução</strong></label>
                    </div>
                    <div class="col-12 my-3">
                        <textarea id="SolCode" style="width: 100%;"></textarea>
                    </div>
                    <div class="col-md-12 my-2 row">
                        <label for="ObCodeSol"><strong>Observação do código da solução</strong></label>
                    </div>
                    <div class="col-12 my-3">
                        <textarea id="ObCodeSol" style="width: 100%;"></textarea>
                    </div>
                </div>
                <div class="col-6 col-md-12 my-3 ml-3">
                    <div class="row col-md-12">
                        <label for="language_codes">Selecione a Linguagem a ser utilizada em Problem code & Solution code</label>
                    </div>
                    <div class="row col-md-12">
                        <select class="col-12" name="language_codes" id="language_codes">
                        {{#each languages}}
                            <option>{{OpName}}</option>
                        {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-8 m-4">
            {{!-- Códigos submetidos --}}
            <div class="col-md-12 row justify-content-center">
                <label for="SolCode"><strong>Códigos submetidos</strong></label>
            </div>
            {{!-- novo codigo --}}
            <div class="col-md-12 border row" id="CodeList">
                <div class="col-md-2 m-4 border " style="backgroundColor: rgba(0,0,0,0.01)" id = "addCodeButton">
                    <img src="/images/file-earmark-plus.svg" class="my-4" style="width: 100%;">
                    <button type="button" class="btn btn-primary w-100 my-2" data-toggle="modal" data-target="#ModalAdd">
                        Novo
                    </button>
                </div>
            </div>
        </div>
        <div class="col-8 col-sm-8 my-4 row justify-content-center">
            <div class="col-sm-4 my-3">
                <button onclick="Save()" class="btn" style="background-color: var(--accept-color);border-color: var(--accept-color);color: #ffff">SAVE</button>
            </div>
            <div class="col-sm-4 my-3">
                <button onclick="" class="btn" style="background-color: var(--reject-color);border-color: var(--reject-color);color: #ffff;">CANCELAR</button>
            </div>
        </div>
    </div>
</div>